.baseClass {
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  animation-timing-function: ease-in-out;
}

.online-up {
  color: #128494;
  background-color: #ecfeff;
  animation-duration: 2.5s;
  animation-name: slide-up;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.offline-down {
  color: #ff7272;
  animation-duration: 2.5s;
  animation-name: slide-down;
  background-color: #fde2e2;
  animation-fill-mode: forwards;
}

.offline-up {
  color: #ff7272;
  animation-duration: 2.5s;
  animation-name: slide-up;
  background-color: #fde2e2;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {
    top: -80px;
  }
  100% {
    top: 0px;
  }
}

@keyframes slide-up {
  0% {
    top: 0px;
  }
  100% {
    top: -80px;
  }
}

@keyframes slide-down-up {
  0% {
    top: -80px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -80px;
  }
}

@keyframes slide-up-down {
  0% {
    top: -80px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -80px;
  }
}
