
.base-class {
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.online {
  color: #128494;
  background-color: #ECFEFF;
  animation-name: slide-up-down;
}

.offline {
  color: #ff7272;
  animation-name: slide-down-up;
  background-color: #fde2e2;
}


/* .online {
    text-align: center;
    position: absolute;
    width: 100%;
    color: #128494;
    background-color: #ECFEFF;
    padding-top: 10px;
    padding-bottom: 10px;
    animation-name: slide-up-down;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  .offline {
    text-align: center;
    position: absolute;
    width: 100%;
    color: #ff7272;
    background-color: #fde2e2;
    padding-top: 10px;
    padding-bottom: 10px;
    animation-name: slide-down-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  } */
/*   
  @keyframes slide-down {
    0% {top: -80px;}
    100% {top: 0px;}
  }
  
  @keyframes slide-up {
    0% {top: 0px;}
    100% {top: -80px;}
  } */
    
  @keyframes slide-down-up {
    0% {top: -80px;}
    50% {top: 0px;}
    100% {top: -80px;}
  }

  @keyframes slide-up-down {
    0% {top: -80px;}
    50% {top: 0px;}
    100% {top: -80px;}
  }